@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

body{
    overflow-x: hidden;
}

#navbg{
    background-color: #F9F9F9;
    height: 100px;
}

.nav-link.active{
    background-color: #868585 !important;
}

a.nav-link {
    color: black;
}

img#logo {
    width: 228px;
    border-radius: 20px;
}

div#navbarColor1 {
    position: relative;
    left: 40%;
}

.jumbotronnews{
    width: 100%;
    height: 600px;
    background-image: radial-gradient(circle farthest-corner at 0 50%,#10c9cd,#3c5ccf);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 46px;
}

.jumbotronnewstwo{
    width: 100%;
    height: 160px;
    background-image: radial-gradient(circle farthest-corner at 0 50%,#10c9cd,#3c5ccf);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 46px;
}

.jumbo{
    display: flex;
}

.possteddivs {
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
}

.row.rowstyles {
    margin: 20px;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

#smalljumbo{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    width: fit-content;
}

#bigjumbo {
    font-family: 'Dosis', sans-serif;
    font-size: 6rem;
    background-image: linear-gradient(to right bottom, #000000, #0e0e0e, #181818, #202020, #282828);
    color: #fff;
    width: 600px;
    text-align: center;
    height: 600px;
    opacity: 0.7;
    background-size: contain;
    background-repeat: round;
    text-shadow: 2px 2px 4px #000000;
    border-radius: 50%;
    border: 13px solid #fff;
    display: contents;
}

img.headerimage {
    width: 99%;
    height: 485px;
    border: 9px #fff solid;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.row.rowstyles {
    margin: 20px;
    display: flex;
    justify-content: center;
}

#bodycontainer{
    max-width: 90%;
    background-color: #EFEFEF;
    /* height: 900px; */
    border-radius: 10px;
}

.newscolumn{
    background-color: #F4F4F4;
    height: 827px;
    overflow-y: auto;
}

.newscolumn2{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.row.technews {
    width: 406px;
    height: 282px;
    background-color: bisque;
    display: flex;
    margin: auto;
    justify-content: center;
}

.row.tech{
    justify-content: center;
}

.contentcolumn{
    background-color: #E8E8E8;
    margin-left: 12px;
    height: 400px;
    margin-left: 94px;
}

.newscolumn, .contentcolumn {
    margin-top: 20px;
    font-size: 1.2rem;
}

#border{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.profdiv {
    margin: 20px 0;
}

.profilecols {
    width: 32%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    margin: 4px;
    float: left;
}

#mediabody{
    height: 820px;
    width: 98%;
}


/* Login Form */

form#loginform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 50px;
}

h2.logintitle {
    position: relative;
    margin-top: 20px;
}

.form-group {
    width: 36%;
}

button.btn.btn-primary {
    margin-bottom: 84px;
    width: 200px;
}

.form-control {
    width: 475px !important;
}

div#signmeup {
    background-color: aliceblue;
    border-bottom-left-radius: 16px;
}
div#logmein {
    background-color: #EEEEEE;
    border-bottom-right-radius: 16px;
}

#bodycontainer2 {
    max-width: 90%;
    background-color: #EFEFEF;
    height: 900px;
    overflow-y: auto;
    border-radius: 10px;
}

input#upload {
    width: 700px;
}

input.commentform, textarea#content {
    width: 385px !important;
}

.col-6.col-md-3.contentcolumn {
    height: fit-content;
}

ul.postlist {
    display: flex;
    justify-content: flex-end;
}

.postdisplay {
    overflow-x: hidden;
}

li.poster {
    margin: 20px 4px;
    list-style: none;
    height: 15px;
    display: flex;
    justify-content: flex-end;
    background-color: #D6D6DB;
    color: #9C9C9C;
    border-radius: 9px;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    cursor: pointer;
}

.postmate {
    position: relative;
    left: 4%;
    top: 20px;
}

li.technewsitem {
    width: 30%;
    height: 300px;
    margin: 10px;
    background-color: aliceblue;
    list-style: none;
}




a.visit {
    color: #000;
    font-size: 16px;
}

span.urllink {
    width: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    margin: 10px;
}

.technewslist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 20px 20px;
    width: 80%;
    box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
}

h1.headtitle {
    font-size: 3rem;
    color: #fff;
}

img.techimage {
    width: 200px;
    margin: 7px;
    box-shadow: rgb(0 0 0 / 25%) 0px 25px 50px -12px;
}

a.visit2 {
    color: #fff;
}

span.headescription {
    color: #fff;
}

.technewslist2 {
    position: relative;
    top: 14%;
}

li.technewsitem {
    width: 30%;
    height: 300px;
    margin: 10px;
    background-color: aliceblue;
    list-style: none;
    padding: 20px;
}
/* Media Queries */

@media screen and (max-width: 1276px) {
    .contentcolumn{
        display: none;
    }
    
}